<%- include('partials/header');-%>
<!-- wrapping of the tags are done at every javscript line -->
<!-- The '=' sign is for something that is returned and is to be added to the html -->
<% if(thingVar.toLowerCase()==="rusty"){ %>
	<p>GOOD CHOICE!! RUSTY IS THE BEST</p>
<% } else {%>
	<p>BAD CHOICE!! YOU SHOULD'VE SAID RUSTY</p>
<% } %>

<p>PS. This is the love.ejs file</p>

<%- include('partials/footer');-%>